# ── Server ────────────────────────────────────────────────
PORT=3000

# ── AWS / LocalStack ───────────────────────────────────────
# Kredensial bebas diisi apa saja untuk LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1

# Saat run LOKAL (tanpa Docker) : http://localhost:4566
# Saat run di DOCKER            : http://localstack:4566
AWS_ENDPOINT=http://localhost:4566

# Nama bucket S3 di LocalStack
S3_BUCKET_NAME=memorymap-bucket